Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
!src/main/java/com/isaque/workoutengine/adapters/out/
!src/main/java/com/isaque/workoutengine/adapters/out/**
!src/main/java/com/isaque/workoutengine/ports/out/
!src/main/java/com/isaque/workoutengine/ports/out/**
